.homepage {
  min-height: 100vh;
  height: 100%;
  display: flex;
}

.dashboard {
  width: 85%;
  margin: auto;
  min-height: 80vh;
}

@media (max-width: 1025px) {
  .dashboard {
    width: 85%;
    margin: 20px auto;
    min-height: 80vh;
    height: 100%;
    padding-bottom: 50px;
  }
}
